APP_ENV=test
HTTP_PORT=8081
POSTGRES_DSN=postgres://noteapp:noteapp@localhost:5432/noteapp_test?sslmode=disable
TEST_POSTGRES_DSN=postgres://noteapp:noteapp@localhost:5432/noteapp_test?sslmode=disable
JWT_ISSUER=note-app
JWT_SECRET=change-me-super-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h
LOCAL_STORAGE_PATH=./tmp/storage-test
CORS_ALLOWED_ORIGINS=http://localhost:5173
