.idea/
.env
bin/
dist/
tmp/
coverage.out
.gocache
.gomodcache
.gotmp
app
app.out
auth
auth.cov
cmd_api.cov
cmd_migrate.cov
config.cov
coverage
database.cov
mix
mix.out
postgres
repo
repo.out
test_write.tmp
transport
transport.out
frontend-repo